<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Daily Item Tracker</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="../font-awesome-4.3.0/css/font-awesome.min.css">
</head>

<body ng-app="changeApp">
	<nav class="navbar navbar-default navbar-fixed-top">
     	<div class="container">
        	<div class="navbar-header">
         		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#">Daily Item Tracker</a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse pull-right">
          		<ul class="nav navbar-nav">
            		<li><a href="#">Home</a></li>
            		<li><a href="#about">About</a></li>
        		</ul>
        	</div>
    	</div>
    </nav>

    <div class="jumbotron">
		<h1>Daily Item Tracker</h1>
		<p>Track the items that are used everyday so you know the next time you need to change them.</p>
		<button type="button" class="btn btn-success"><a href="#dit">Try me now!</a></button>
	</div>

	<div class="item-form" ng-controller="MainController as main">
		<h3><a name ="dit">Daily Item Tracker</a></h3>
		<p>There are so many items that we use everyday, but we really never pay attention to until it's disgustingly dirty. That's when we decide to toss it and grab a new one. But these items should be changed more often for your health and beauty.</p>
		<p>Pick an item from the list below and the day you start using it. The Daily Item Tracker will tell you when it's the next time to grab a new one. Definitely jot this date down in your planner or calendar so you know the next time you should change your favorite foundation or toothbrush.</p>
		<form name="addNewItem" ng-submit="main.addNewItem()">
			<label>Item:</label>
			<select name="ListOfItems" ng-model="main.user.brand" required>
				<option value="Toothbrush">Toothbrush</option>
				<option value="Bath Sponge">Bath Sponge</option>
				<option value="Mascara">Mascara</option>
				<option value="Lipstick">Lipstick</option>
				<option value="Eyeliner">Eyeliner</option>
				<option value="Foundation">Foundation</option>
				<option value="Concealer">Concealer</option>
			</select>
			<label>Date:</label>
			<input type="date" ng-model="main.user.startDate" required>
			<input type="submit" class="btn btn-success" value="Submit start of item">
		</form>

				
		<section class="list">
			<h3>List of soon to be nasty items</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Type of Item</th>
						<th>Started using it on</th>
						<th>Change by Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in main.items">
						<td>{{item.brand}}</td>
						<td>{{item.startDate | date: 'shortDate'}}</td>
						<td>{{item.endDate | date: 'shortDate'}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>

	
	

	<footer>
		<section class="about">
			<h1><a name="about">About this App</a></h1>
			<p>I created this little app since I was getting tired of throwing out items. I would throw out mascaras, foundations, toothbrushes, etc since I couldn't remember when I started using them and was paranoid about the bacteria that could be growing on them. So I did some research and used it with this app.</p>
			<p>The best way to use this is to have some sort of calendar by your side to write down the item and the day you need to change it. Also, find the best place or places to have this information down so you won't forget to change it. It's up to you if you want to have it on paper or digitally. I personally have a planner by my side since I refer to it several times a day. I hope you enjoy using this as much as I do!</p>
		</section>
		<p class="tag">Built with <i class="fa fa-heartbeat"></i> by Laura Umana</p>
	</footer>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/moment.js"></script>
</body>
</html>